@import url('https://api.fontshare.com/v2/css?f[]=bebas-neue@400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=nunito@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=rosaline@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-koulen: 'Koulen';
  --font-unbounded: 'Unbounded';
  --font-rosaline: 'Rosaline', cursive;
  --font-ephesis: 'Ephesis', cursive;
  --font-roboto-mono: 'Roboto Mono', monospace;
}